{% block content %}
    {% if record.archived %}
        <form action="{% url 'management:archive-template' record.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="back" value="{{ request.path }}">
            <button id="archive-template" class="btn btn-sm btn-outline-secondary" type="submit">Unarchive</button>
        </form>
    {% else %}
        <form action="{% url 'management:archive-template' record.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="back" value="{{ request.path }}">
            <button id="archive-template" class="btn btn-sm btn-outline-secondary" type="submit">Archive</button>
        </form>
    {% endif %}
{% endblock %}
