<!DOCTYPE html>
{% extends "researcher_base.html" %}
{% block nav-templateView %}<strong class="nav_bar_selected"> Templates </strong>{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
    <html lang="en">
    <head>
        <title>Template Management</title>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body>
        {% for message in messages %}
            <div class="alert alert-warning">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}
        <div class="container-fluid" style="width: 80%">
            <div class="row">
                <!-- Templates -->
                <div class="col-8 mt-3">
                    {% if current_folder %}
                        <h3 style="text-align: center">{{ current_folder.name }}</h3>
                    {% else %}
                        <h3 style="text-align: center">All Templates</h3>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <!-- Templates Search Bar
                            {% if current_folder %}
                                <form action="{% url 'management:folder-view' current_folder.id %}" method="get" autocomplete="off">
                                    {% csrf_token %}
                                    <input list="templates" name="template-filter" type="text" placeholder="Search Templates" class="mb-3">
                                </form>
                            {% else %}
                                <form action="{% url 'management:main'%}" method="get" autocomplete="off">
                                    {% csrf_token %}
                                    <input list="templates" name="template-filter" type="text" placeholder="Search Templates" class="mb-3">
                                </form>
                            {% endif %}
                            <datalist id="templates">
                                {% for template in templates %}
                                    <option value="{{ template.name }}"></option>
                                {% endfor %}
                            </datalist>
                            -->
                        </div>
                        <!-- Show/Hide Archived Templates Button -->
                        <div class="col">
                            {% if show_archived == 'True' %}
                                <form action="{% url 'management:display-archived-templates' 0 %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="back" value="{{ request.path }}">
                                    <button name="show-archived" class ="btn btn-outline-secondary" type="submit">Hide Archived</button>
                                </form>
                            {% else %}
                                <form action="{% url 'management:display-archived-templates' 1 %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="back" value="{{ request.path }}">
                                    <button name="show-archived" class ="btn btn-outline-secondary" type="submit">Display Archived</button>
                                </form>
                            {% endif %}
                        </div>

                        <div class="col" style="text-align: right">
                            <!-- Create Template Button--->
                            <form action="{% url 'management:redirect-to-template-creation' %}" method="post">
                                {% csrf_token %}
                                <input id="create-template" class="btn btn-outline-secondary" type="submit" value="Create template"/>
                            </form>
                        </div>
                    </div>

                    {% if current_folder %}
                        <form method="post" action="{% url 'management:edit-folder-templates' current_folder.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col col-sm-10">
                                    <select class="template-select-multiple w-100" name="templates" multiple="multiple">
                                        {% for template in all_templates%}
                                            <option value="{{ template.id }}">{{ template.name }}: {{template.creation_date }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="hidden" name="back" value="{{ request.path }}">
                                    <input class="btn btn-sm btn-outline-secondary" type="submit" value="Add">
                                </div>
                            </div>
                        </form>
                    {% endif %}

                    {%  if templateTable %}
                        {% render_table templateTable %}
                    {% else %}
                        {% if current_folder %}
                            <div>There are no templates in this folder</div>
                        {% else %}
                            <div>There are no templates to show at the moment</div>
                        {%  endif %}
                    {% endif %}

                </div>
                <div class="col-4 mt-3">
                    <!-- Folders -->
                    <h3 style="text-align: center">Folders</h3>

                    <div class="row">
                        <!--
                        <div class="col">
                            {% if current_folder %}
                                <form action="{% url 'management:folder-view' current_folder.id %}" method="get" autocomplete="off">
                                    {% csrf_token %}
                                    <input list="folders" name="folder-filter" type="text" placeholder="Search Folders" class="mb-3">
                                </form>
                            {% else %}
                                <form action="{% url 'management:main' %}" method="get" autocomplete="off">
                                    {% csrf_token %}
                                    <input list="folders" name="folder-filter" type="text" placeholder="Search Folders" class="mb-3">
                                </form>
                            {% endif %}
                            <datalist id="folders">
                                {% for folder in folders %}
                                    <option value="{{ folder.name }}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        -->

                        <div class="col">
                            <form method="post" action="{% url 'management:create-folder' %}">
                                {% csrf_token %}
                                {{ folder_creation_form }}
                                <input type="submit" value="Create Folder" class="btn btn-sm btn-outline-secondary">
                                <input type="hidden" name="back" value="{{ request.path }}">
                            </form>
                            <!-- Create Folder Button
                            <button id="create-folder" class="btn btn-outline-secondary" type="button" name="button">Create Folder</button>
                            --->
                        </div>
                    </div>

                    {% if folderTable %}
                        {% block table-wrapper %}
                            {% include "template_management/folder_table.html" with table=folderTable%}
                        {% endblock %}
                    {% else %}
                        <div>There are no folders to show at the moment</div>
                    {% endif %}

                </div>
            </div>
        </div>

    <!-- Code needed for the modal to work properly.
         Content in folder_creation_modal.html is rendered between "#modal-content" div
    -->
    <div class="modal fade" tabindex="-1" role="dialog" id="create_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });

            $("#create-folder").modalForm({
                formURL: "{% url 'management:create-folder' %}",
                modalID: "#create_modal"
            });

            $(document).ready(function() {
                $('.template-select-multiple').select2({
                    placeholder: "Add Templates",
                    allowClear: true,
                });
            });
        });
    </script>
    </body>
{% endblock %}
</html>
