<!DOCTYPE html>
{% extends "researcher_base.html" %}
{% block nav-templateView %}<strong class="nav_bar_selected"> Templates </strong>{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <title>Template Management</title>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    </head>
    <body>
        <h3>Folders</h3>
        <!-- Folder Search Bar-->
        {% if folder_pk %}
            <form action="{% url 'management:folder-view' folder_pk %}" method="get">
                {% csrf_token %}
                <input name="folder-filter" type="text" placeholder="Search Folders">
            </form>
        {% else %}
            <form action="{% url 'management:main' %}" method="get">
                {% csrf_token %}
                <input name="folder-filter" type="text" placeholder="Search Folders">
            </form>
        {% endif %}

        {% if folderTable %}
            {% render_table folderTable %}
        {% else %}
            <div>There are no folders to show at the moment</div>
        {% endif %}

        <!-- Create Folder Button--->
        <button id="create-folder" class="btn btn-primary" type="button" name="button">Create Folder</button>

        <h3>Templates</h3>
        <!-- Templates Search Bar-->
        {% if folder_pk %}
            <form action="{% url 'management:folder-view' folder_pk %}" method="get">
                {% csrf_token %}
                <input name="template-filter" type="text" placeholder="Search Folders">
            </form>
        {% else %}
            <form action="{% url 'management:main'%}" method="get">
                {% csrf_token %}
                <input name="template-filter" type="text" placeholder="Search Folders">
            </form>
        {% endif %}

        {% if folder_pk %}
            <!-- Line these buttons up later with css -->
            <form method="post" action="{% url 'management:main' %}">
                {% csrf_token %}
                <input id="back-to-all" class="btn btn-success" type="submit" value="Back">
            </form>
            <button id="edit-folder" class="bs-modal btn btn-primary" type="button" name="button"
                    data-form-url="{% url 'management:edit-folder' folder_pk %}">Edit</button>
            <form method="post" action="{% url 'management:delete-folder' folder_pk %}">
                {% csrf_token %}
                <input type="hidden" name="back" value="{{ request.path }}">
                <button id="delete-folder" class="btn btn-danger" type="submit">Delete</button>
            </form>
        {% endif %}

        {%  if templateTable %}
            {% render_table templateTable %}
        {% else %}
            {% if folder_pk %}
                <div>There are no templates in this folder</div>
            {% else %}
                <div>There are no templates to show at the moment</div>
            {%  endif %}
        {% endif %}

        <!-- Create Template Button--->
        <form action="{% url 'management:redirect-to-template-creation' %}" method="post">
            {% csrf_token %}
            <input id="create-template" class="btn btn-primary" type="submit" value="Create template"/>
        </form>

        <!-- Code needed for the modal to work properly.
             Content in folder_creation_modal.html is rendered between "#modal-content" div
        -->
        <div class="modal fade" tabindex="-1" role="dialog" id="create_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });
            $("#create-folder").modalForm({
                formURL: "{% url 'management:create-folder' %}",
                modalID: "#create_modal"
            });
        });
        </script>
    </body>
{% endblock %}
</html>
