{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

        <title>Template Management</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    </head>
    <body>
        <h3>Folders</h3>
        <!-- Folder Table --->
        <table class="table">
            <thead>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </thead>
            <tbody>
            {% for folder in folders.all %}
            <tr>
                <td>
                    <form action="{% url 'templates:template_management' folder.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="{{ folder.name }}">
                    </form>
                </td>
                <td>
                    <form action="{% url 'templates:delete_folder' folder.id %}" method="post">
                        {% csrf_token %}
                        <input name="delete_folder_btn" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Create Folder Button--->
        <button id="create-folder" class="btn btn-primary" type="button" name="button">Create book</button>

        <br/> <!-- take this out once it's formatted --->
        <br/> <!-- take this out once it's formatted --->

        <h3>Templates</h3>
        <!-- Edit Folder Button --->
        {% if current_folder is not None %}
        <form action="{% url 'templates:edit_folder' current_folder %}" method="post">
            {% csrf_token %}
            <button id="edit-folder" class="btn btn-primary" type="button" name="button">Edit Folder</button>
        </form>
        <form action="{% url 'templates:edit_folder' current_folder %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal">Edit Folder</button>
            {% include "template_management/folder_creation_modal.html" with target="editModal"%}
        </form>
        {% endif %}

        <!-- Template Table --->
        <table class="table">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Creation Date</th>
                <th scope="col"></th>
            </thead>
            <tbody>
            {% for template in templates.all %}
                <tr>
                    <td>{{ template.name }}</td>
                    <td>{{ template.creation_date }}</td>
                    <td>
                        {% if current_folder is None%}
                        <form action="{% url 'templates:delete_template' template.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                        {% else %}
                        <form action="{% url 'templates:remove_template' template_pk=template.id folder_pk=current_folder %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Remove">
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button>Create New Template</button> <!-- This should route to template creation page --->

        <!-- Code needed for the modal to work properly -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {

            $("#create-folder").modalForm({
                formURL: "{% url 'templates:create_modal' %}"
            });
            $("#edit-folder").modalForm({
                formURL: "{% url 'templates:create_modal' %}"
            });

        });
        </script>
    </body>
</html>
