<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>SimCon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/center_container.css' %}">
</head>
<body>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.email.id_for_label }}">Email:</label>
        <br>
        {{ form.email }}
        <br>
        <button class="btn btn-sm btn-secondary mt-3" type="submit">Reset Password</button>
        {% for message in messages %}
            <div class="alert alert-warning">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}
    </form>
</div>
</body>
</html>
