<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>SimCon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/center_container.css' %}">
</head>

<body>
<form method="post">
    <div class="container-fluid mt-3" style="width: 80%">
        <div class="row justify-content-center">
            <div class="col-4">
                <form id="change_password_form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.attrs.id  }}">{{ field.label }} </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <p>
                        - Your password can’t be too similar to your other personal information.
                        <br>
                        - Your password must contain at least 8 characters.
                        <br>
                        - Your password can’t be a commonly used password.
                        <br>
                        - Your password can’t be entirely numeric.
                    </p>
                    <button type="submit" class="btn btn-outline-secondary">Reset Password</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</form>
</body>
</html>
