{% load static %}
<html lang="en">
    <head> 
        <link rel="stylesheet" href="{% static 'css/basic.css' %}">
        <link rel="stylesheet" href="../static/css/basic.css">
        <title>Simulated Conversations Home</title>
    </head>
    <body>
        <div id="Page">
            <div id="Banner">
                <h1> Hello world! </h1>
            </div>
            <ul class="flex-container">
                <li class= "flex-small">
                    <div id="Sidebar">
                        This is a sidebar 
                    </div>
                </li>
                <li class= "flex-large">
                    <div id="Content">
                        This is where content goes 
                    </div>
                </li>
            </ul>
            <div id="Footer">
                <h2> This is where contact info goes </h2>
            </div>
        </div>
    </body>
</html>