/*
encapsulates entire body of page, not including navbar/header/footer.
aligns all text in the center of div
*/
.body-container {
    text-align: center;
}

/*
contains table of assigned templates. Restricts width to 70% of window size and centers table in window.
*/
.table-container {
    width: 70%;
    margin: auto;
}


/*
headers for the table have 20 pixel margin on bottom and 20 pixels from edge of element each direction
for readability
*/
thead {
    margin-bottom: 20px;
    padding: 20px;
}

/*
table has a 10 pixel margin on bottom beneath all the rows.
*/
tbody {
    margin-bottom: 10px;
}

/*
center aligns the text inside each element and puts 20 pixels of padding on bottom of each row
affects table headers and each table row.
*/
th, td {
    text-align: center;
    padding-bottom: 20px;
}



