{% load render_table from django_tables2 %}
{% block content %}
<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Select Feedback to View</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% if table %}
      {% render_table table %}
    {% endif %}
  </div>
  <script type="text/javascript">
    function select_click(btn)
    {
      (window).open($(btn).data('form-url'), "_self");
    }
   </script>
</form>
{% endblock %}
