<!DOCTYPE html>
{% extends "researcher_base.html" %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Create Assignment</title>
  </head>
  <body>
    {% block content %}
    <form class="bg-light border rounded mx-auto mt-5 p-3 " style="min-height: 100vh;">
        <h2>Simulated Conversations</h2>
        <!--left part -->
        <div class="left" style="width:45%; float:left; margin-left:2%; margin-top:20px;">
            <div class="form-group">
                <label for="assign_name">Assignment name:</label>
                <input type="text" class="form-control col-lg-10" id="assign_name" required>
            </div>

            <div class="form-group">
                <label for="assign_date">Assignment start date:</label>
                <input type="text" class="form-control col-lg-10" id="assign_date" placeholder="YYYY-MM-DD" required>
            </div>


            <!--add student -->
            <div class="form-group">
                <label for="add_stu">Add student</label>
                <div class="add" style="display: flex;">
                    <input type="text" class="form-control col-lg-7" id="stu_name" placeholder="Please Input a Student Email." list="stu_list">
                    <input type="button" class="btn btn-primary" value="Add student" onclick="add_stu(tbl, stu_name.value)">
                    <datalist id="stu_list"></datalist>
                </div>
                <br>
                <table id="tbl" class="table table-bordered table-hover col-lg-10" style="background-color: white;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <!--right part -->
        <div class="right" style="width:47%; float: right; margin-right:2%; margin-top:20px;">

            <!--add template -->
            <div class="form-group">
                <label for="add_temp">Add template</label>
                <div class="add" style="display: flex;">
                    <input type="text" class="form-control col-lg-7" id="template_name" placeholder="Please Input a Template Name." list="temp_list">
                    <input type="button" class="btn btn-primary" value="Add template" onclick="add_temp(tbl1, template_name.value)">
                    <datalist id="temp_list"></datalist>
                </div>
                <br>
                <table id="tbl1" class="table table-bordered table-hover col-lg-10" style="background-color: white;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <!--add label -->
            <div class="form-group">
                <label for="add_label">Add label</label>
                <div class="add" style="display: flex;">
                    <input type="text" class="form-control col-lg-7" id="label_name" placeholder="Please Input a Label Name." list="label_list">
                    <input type="button" class="btn btn-primary" value="Add label" onclick="add_label(tbl2, label_name.value)">
                    <datalist id="label_list"></datalist>
                </div>
                <br>
                <table id="tbl2" class="table table-bordered table-hover col-lg-10" style="background-color: white;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of students</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <input type="button" class="btn btn-primary" onclick="sub()" value="Submit"/>
        </div>
    </form>
  </body>

  <script>
      var students={{ student|safe }};
      var templates={{ template|safe }};
      var subLabels={{ subLabel|safe }};
      var addedStu=new Array();
      var addedTmp=new Array();
      var addedLabel=new Array();

      //add dropbox of every input box which has button.
      function init(){
          var stu_list=document.getElementById("stu_list");
          var temp_list=document.getElementById("temp_list");
          var label_list=document.getElementById("label_list");

          for(var i=0;i<students.length;i++) {
              var stuTmp = students[i];
              var op=document.createElement("option");
              op.innerHTML=stuTmp.email;
              stu_list.appendChild(op);
          }
          for(var i=0;i<templates.length;i++) {
              var tempTmp = templates[i].fields;
              var op=document.createElement("option");
              op.innerHTML=tempTmp.name;
              temp_list.appendChild(op);
          }
          for(var i=0;i<subLabels.length;i++) {
              var labelTmp = subLabels[i].fields;
              var op=document.createElement("option");
              op.innerHTML=labelTmp.label_name;
              label_list.appendChild(op);
          }
      }
      window.onload = function(){
          init();
      }

      //add data to the table
      function add2table(tblId,name,key,id){
          var tBody = tblId.tBodies[0];
          //Create tr and td elements
          var tr = document.createElement('tr');
          var tUsername = document.createElement('td');
          var tKey = document.createElement('td');
          //Add the data submitted by the form to each cell
          tUsername.innerHTML = name;
          tKey.innerHTML = key;
          //Add and delete hyperlinks
          var tDel = document.createElement('td');
          tDel.innerHTML = '<a href="javascript:;">Delete</a>';
          //Perform delete table row operation
          var oA = tDel.children[0];
          oA.onclick = function(){
              tBody.removeChild(this.parentNode.parentNode);
              var em=this.parentNode.parentNode.cells[1].innerHTML;
              //student
              if(id==1) {
                  var index = addedStu.indexOf(em);
                  if (index > -1) {
                      addedStu.splice(index, 1);
                  }
              }
              //template
              else if(id==2){
                  var name=this.parentNode.parentNode.cells[0].innerHTML;
                  var tempKey=name+"--"+em;
                  var index = addedTmp.indexOf(tempKey);
                  if (index > -1) {
                      addedTmp.splice(index, 1);
                  }
              }
              //label
              else{
                  var index = addedLabel.indexOf(em);
                  if (index > -1) {
                      addedLabel.splice(index, 1);
                  }
              }
          };
          //Add cells and rows to the table
          tr.appendChild(tUsername);
          tr.appendChild(tKey);
          tr.appendChild(tDel);
          tBody.appendChild(tr);
      }

      function add_stu(tbl, stu){
          var find=false;   //Record find the corresponding student or not
          for(var i=0;i<students.length;i++){
              var stuTmp=students[i];
              if(stuTmp.email==stu){
                  find=true;
                  var name = stuTmp.first_name + " " + stuTmp.last_name;
                  if(stuTmp.is_active!=1){
                      window.alert("Adding Studet "+name+" Failed, They are not an active user.");
                  }
                  else{
                      //Determine whether this student is already in the table.
                      if(addedStu.indexOf(stu)>-1){
                          window.alert("Adding Student "+name+" failed, They have already been added");
                      }
                      else {
                          add2table(tbl, name, stu, 1);
                          addedStu.push(stu);
                      }
                  }
              }
          }
          if(find==false){
              window.alert("Cannot find: "+stu);
          }
          document.getElementById('stu_name').value="";
      }

      function add_temp(tbl, name){
          var find=false;
          for(var i=0;i<templates.length;i++){
              var tempTmp=templates[i].fields;
              if(tempTmp.name==name){
                  find=true;
                  var key=name+"--"+tempTmp.creation_date
                  if(addedTmp.indexOf(key)>-1){
                      window.alert("Adding failed, the template is already in the table.");
                  }
                  else {
                      add2table(tbl1, name, tempTmp.creation_date, 2);
                      addedTmp.push(key);
                  }
              }
          }
          if(find==false){
              window.alert("Cannot find: "+name);
          }
          document.getElementById('template_name').value="";
      }

      function add_label(tbl, name){
          var find=false;
          for(var i=0;i<subLabels.length;i++){
              var labelTmp=subLabels[i].fields;
              if(labelTmp.label_name==name){
                  find=true;
                  if(addedLabel.indexOf(name)>-1){
                      window.alert("Adding failed, the label is already in the table.");
                  }
                  else {
                      var stdNum=labelTmp.students.length;
                      add2table(tbl2, name, stdNum, 3);
                      addedLabel.push(name);
                  }
              }
          }
          if(find==false){
              window.alert("Cannot find: "+name);
          }
          document.getElementById('label_name').value="";
      }


      //Pass the client data to django through ajax.
      function sub(){
          //set token
          $.ajaxSetup({
              data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
          //get data
          assign_name=document.getElementById("assign_name").value;
          assign_date=document.getElementById("assign_date").value;
          stuJSON=JSON.stringify(addedStu);
          tempJSON=JSON.stringify(addedTmp);
          labelJSON=JSON.stringify(addedLabel);

          //varify name and date
          if(typeof assign_name == "undefined" || assign_name == null || assign_name == ""){
              window.alert("Assignments Must Have a Name!");
              return;
          }
          if(typeof assign_date == "undefined" || assign_date == null || assign_date.split("-").length !=3){
              window.alert("Must have a valid start date. example YYYY-MM-DD!");
              return;
          }

          //post data to server
          $.ajax({
              url:"{% url 'assignments:add-assignment' %}",
              type:'POST',
              data: {
                  'name': assign_name,
                  'date': assign_date,
                  'stuData': stuJSON,
                  'tempData': tempJSON,
                  'labelData': labelJSON
              },
              dataType:'json',
              success: function(data){
                  if(data.success==0){
                      window.alert("Submitted successfully!");
                      location.reload();
                  }
                  else{
                      var msgTmp=data.msg;
                      window.alert(msgTmp);
                  }
              }
          })
      }
  </script>
    {% endblock %}
</html>
