<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">

    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
    form {display:inline; margin:0px; padding:0px;}
    </style>
    

    <title>
    {% block title %}Simulated Conversations | Home{% endblock %}
    </title>
    
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <div class="container">
      <h1> Welcome to SIMCON Home Page :)</h1>
        {% block content %}
        {% endblock %}
    </div> <!-- /container -->
    <button onclick="location.href = '/accounts/login'">Login Page</button>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>