{% extends "researcher_base.html" %}
{% load static %}
{% block nav-researcherView %}{% endblock %} 
{% load render_table from django_tables2 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" src="{% static 'users/researcherTable.css' %}">
    <title>
    SimCon | Researcher View
    </title>
  </head>
  <body>
    <div style="display: inline-block">

<div class="table-container" style="display: inline-block; float: left;"> 
  {% render_table response_table %}
</div>
<div class="delete-buttons" style="display: inline-block">
  <br>
  {% for obj in response_table %}
    <form method="POST">
        {% csrf_token %}
        <br>
        <br>
        <button type="submit" name="delete_items" value="{{ obj.pk }}">Delete</button>
        <p></p>
        <!-- The paragraph gave the perfect spacing -->
    </form>
{% endfor %}
</div>
    </div>
  </body>
</html>
{% endblock %}
