{% extends "researcher_base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block nav-researcherView %}{% endblock %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" src="{% static 'users/researcherTable.css' %}">
    <title>
    SimCon | Researcher View
    </title>
  </head>
  <body>
<div class="table-container"> 
  {% render_table responseTable %}

</div>
  </body>
</html>
{% endblock %}

