{% extends "researcher_base.html" %}
{% load static %}
{% block nav-researcherView %}{% endblock %} 
{% load render_table from django_tables2 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" src="{% static 'users/researcherTable.css' %}">
    <title>
    SimCon | Researcher View
    </title>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  </head>
  <body>
    <br>
    <br>
  <div style="float: right;">
    <form method="GET" action="">
      <input type="text" name="searchParam" placeholder="Search">
      <button type="submit"> Search </button>
    </form>
    <br> <br>
  </div>

<div class="table-container" style="text-align: center;">
  <br> <br>
{% if responseTable %}
  {% render_table responseTable %}
{% else %}
  <span> No Responses </span>
{% endif %}
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $(".bs-modal").each(function () {
          $(this).modalForm({
              formURL: $(this).data('form-url')
          });
      });
  });
</script>
</body>
</html>
{% endblock %}
