<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static './users/base.css' %}">
  </head>
  <body>
    {% block nav %}
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Simulated Conversations</a>
        </div>
        <ul class="nav navbar-collapse collapse">
          <li class="px-3">{% block nav-researcherView %}<a class="nav_bar_unselected" href="{% url 'researcher-view' %}">  <span >   Home   </span> </a>{% endblock %}</li>
          <li class="px-3">{% block nav-templateView %}<a class="nav_bar_unselected" href="{% url 'management:main' %}">  <span> Templates </span>  </a>{% endblock %}</li>
          <li class="px-3">{% block nav-studentmanagementView %}<a class="nav_bar_unselected" href="{% url 'student-management' %}">   Student Management   </a>{% endblock %}</li>
        </ul>
        <ul class="nav navbar-nav justify-content-end">
          <li class="px-3">{% block nav-settingsView %}<a class="nav_bar_unselected" href="{% url 'settings:main' %}"> Settings</a>{% endblock %}</li>
          <li>{% block nav-logoutView %}<a class="nav_bar_unselected" href="{% url 'logout' %}"> Log Out</a>{% endblock %}</li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}
  </body>
</html>

