{% block content %}
<form method="POST" action="">
  {% csrf_token %}
  <div class="modal-header">
    <h3 class="modal-title">Delete Response</h3>
    <a class= "button" href="{% url 'researcher-view' %}" class="close" data-dismiss="modal" aria-label="close">Cancel Delete</a>
  </div>

  <div class="modal-body">
    <p>Are you sure you want to delete this response
       and their associated data?</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>

</form>
{% endblock %}

