{% extends "researcher_base.html" %}
{% load static %}
{% block nav-studentmanagementView %}<strong class="nav_bar_selected"> Student Management</strong>{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- prevent line breaks when using form fields -->
        <style type="text/css">
            form {display:inline; margin:0px; padding:0px;}
        </style>

        <title>
            {% block title %}Simulated Conversations | Researcher{% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

        {% block extrahead %} {% endblock %}
    </head>

    <div class="container-fluid mt-3" style="width: 80%">
        <div class="row">
            <div class="col-md-8">
                <p>Add Student to the "{{ name }}" label:</p>
                <div class="row">
                    <form action='/researcher/students/{{ name }}/' method="post" class="ml-3">
                        {%csrf_token%}
                        <select class="student-select-multiple w-100" name="Students" multiple="multiple">
                            {% for student in add_students%}
                                <option value="{{ student.id }}">{{ student.email }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-sm btn-outline-secondary" value="Students"><br/><br/>
                    </form>
                </div>
                {% render_table stu_table %}
            </div>


            <div class="col-md-4">
                <p>Add New Label:</p>
                <div class="row">
                    <form action='/researcher/students/{{ name }}/' method="post" class="ml-3">
                        {%csrf_token%}
                        {{ form2 }}
                        <input type="submit" class="btn btn-sm btn-outline-secondary" value="Add Label"><br/><br/>
                    </form>
                </div>

                {% render_table lbl_table %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
     <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });
            $('.student-select-multiple').select2();
        });

    </script>
    </body>
    </html>
{% endblock %}
