<!DOCTYPE html>
{% extends "student_base.html" %}
{% load static %}
{% block nav-studentView %}<strong class="nav_bar_selected"> Home </strong>{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" href="{% static 'users/student_home.css' %}">
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <title>
    {% block title %}Simulated Conversations | Student{% endblock %}
    </title>
    
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <div class="body-container">
      {% if incomplete_table %}
      <h2>Incomplete Templates</h2>
          {% render_table incomplete_table %}
      {% else %} 
          <span> No Templates to Complete </span> 
      {% endif  %}
      {% if completed_table %}
      <h2>Completed Templates</h2>
          {% render_table completed_table %}
      {% else %} 
          <span> No Completed Templates </span> 
      {% endif  %}
     </div><!-- /container -->

    <div class="modal fade" tabindex="-1" role="dialog" id="create_modal">
      <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });
        });
    </script>
  </body>
</html>
{% endblock %}
