<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">

    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
    form {display:inline; margin:0px; padding:0px;}
    </style>
    

    <title>
    {% block title %}Simulated Conversations | Student{% endblock %}
    </title>
    
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <div class="container">
      <h1> Student Landing Page</h1>
      <table>
        <tr>
          <th>Template Name</th>
          <th>Date Assigned</th>
          <th>Last Response</th>
        </tr>
          {% for x,y,z in assigned_templates %}
        <tr>
          <td>{{x}}</td>
          <td>{{y}}</td>
          <td>{{z}}</td>
        </tr>
        {% endfor %}
      </table>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
