{% extends "researcher_base.html" %}
{% load static %}
{% block nav-studentmanagementView %}<strong class="nav_bar_selected"> Student Management</strong>{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- prevent line breaks when using form fields -->
      
        <title>
            {% block title %}Simulated Conversations | Researcher{% endblock %}
        </title>
    </head>

    <div class="container-fluid mt-3" style="width: 80%">
        <div class="row">
            <div class="col-md-8">
                <p>Add Student to the "{{ name }}" label:</p>
                <div class="row">
                    <form action='/researcher/students/{{ name }}/' method="post" class="ml-3">
                        {%csrf_token%}
                        {{ form }}
                        <input type="submit" class="btn btn-sm btn-outline-secondary" value="Add Student"><br/><br/>
                    </form>
                </div>
                <div class="table-container" >
                {% render_table stu_table %}
                </div>
            </div>


            <div class="col-md-4">
                <p>Add New Label:</p>
                <div class="row">
                    <form action='/researcher/students/{{ name }}/' method="post" class="ml-3">
                        {%csrf_token%}
                        {{ form2 }}
                        <input type="submit" class="btn btn-sm btn-outline-secondary" value="Add Label"><br/><br/>
                    </form>
                </div>
                <div class="table-container" >
                {% render_table lbl_table %}
                </div>
                {% for message in messages %}
                    <div class="alert alert-warning">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    </body>
    </html>
{% endblock %}
