{% extends "researcher_base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
    form {display:inline; margin:0px; padding:0px;}

    </style>


    <title>
        {% block title %}Simulated Conversations | Researcher{% endblock %}
    </title>

    {% block extrahead %} {% endblock %}
</head>

<body>
<div class="container">
    <div class="col-sm-4" style=" float: right;">
        <form method="POST">
            {% csrf_token %}
            <button class="bs-modal btn btn-danger" type="button" name="button" data-form-url="{% url 'delete-response' response.pk %}" >Delete</button>
        </form>
    </div>
    <br>
    <h2> Response for: {{response.template.name}} </h2>
    <h4> {{response.student}} </h4> 
    <br> 
    <p>They rated themself: {{response.self_rating}}/5</p>

    <div class="container">
        {% block content-2 %}
        <div class="row">
            <h2>Overall feedback:</h2>
        </div>
        <div class="row">
            {{response.feedback}} <a href="{% url 'update-overall-response-feedback' response.id %}"> Edit </a>
        </div>
        {% for node in response_nodes %}
        <div class="row">
            <h2> Response {{node.position_in_sequence}}</h2>
        </div>
        <div class="row">
             {{node.template_node.description}}
        </div>

        <div class="row">
            <div class="col-sm-4">
                <audio src="{% static node.audio_response %}" controls></audio>
            </div>
            <div class="col-sm-4">
                {{node.transcription}} <a href="{% url 'update-node-transcription' node.id %}">Edit</a>
            </div>
            <div class="col-sm-4" id="feedback">
                {{node.feedback}} <a href="{% url 'update-node-response-feedback' node.id %}">Edit</a>
            </div>
        </div>
        {% endfor %}

        {% endblock %}
    </div>

</div> <!-- /container -->
<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
        $(".bs-modal").each(function () {
            $(this).modalForm({
                formURL: $(this).data('form-url')
            });
        });
    });
  </script>
<!-- Bootstrap core JavaScript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
{% endblock %}

